* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}



.main-header{ 
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: rgb(27, 27, 27);
}

/* logo */

.logo {
  margin-top: 5px;
  height: 65px;
  padding: 4px;
  padding-right: 20px;
  padding-left: 100px;
  width: fit-content;
  color: rgb(27, 27, 27);
  background-color:#f6e0a4;
}

/* navBar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-list a{
  margin-right: 90px;
  text-decoration: none;
  color: #f6e0a4;
  font-size: medium;
}

/* Hero */

.hero-banner {
  background-image: url("../images/hero.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height:500px;
  width: auto;
}

#content-grid {
  margin: 0px 0%;
  display: grid;
  grid-template-columns: 25% 30% 30%;
  grid-template-rows: 25% 25% 25%;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-areas: 
  "about aboutMeText aboutMeText"
  "work workBanner workBanner"
  "work workBanner workBanner"
  "work LED prework"
  "work pf-website refactoring"
  "contact contact-details contact-details"
  "resume resume-link resume-link";

   
}

/* About me area */

#about {
  border-right: 8px solid #503911;
  padding-right: 20px;
  margin-top: 20px;
  margin-right:80px;
  grid-area: about;
  text-align: right;
  font-size: 30px;
}

#aboutMeText {
  grid-area: aboutMeText;
  font-size: 20px;
  text-align: justify;
  font-style: italic;
  margin: 11px 0;
  padding-bottom: 20px;
}

/* Work area */

#work {
  grid-area: work;
  margin-top: 40px;
  margin-right:80px;
  text-align: right;
  font-size: 30px;
  border-right: 8px solid #503911;
  padding-right: 20px;  
}

#workBanner {
  grid-area: workBanner;
  background: rgba(80, 72, 28, 0.5);
  background-image: url("../images/workimg.jpg");
  margin-top: 40px;
  background-size: cover;
  border: 5px solid #f6e0a4;
  border-radius: 15px;
  background-blend-mode: darken;
}

#workBanner:hover {
  cursor: pointer;
  background-blend-mode: normal;
}

#contact {
  grid-area: contact;
  margin-top: 0px;
  margin-right:80px;
  margin-bottom: 0px;
  text-align: right;
  font-size: 30px;
  border-right: 8px solid #503911;
  padding-right: 20px;
}
.page-section-contact h2 {
  padding-bottom: 20px;
  margin: 0;
  
}
#resume {
  grid-area: resume;
  margin-top: 0px;
  margin-right:80px;
  text-align: right;
  font-size: 30px;
  border-right: 8px solid #503911;
  padding-right: 20px;
  padding-bottom: 0px;
}

#resume h2 {
  margin: 0;
}

#resume-link {
  grid-area: resume-link;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-decoration: none;
  color:#503911;
  max-height: fit-content;
  }

#Prework {
  grid-area: prework;
  background: rgba(80, 72, 28, 0.5);
  background-image: url("../images/study-guide.jpeg");
  background-size: cover;
  border: 5px solid #f6e0a4;
  border-radius: 15px;
  height: 200px;
  background-blend-mode: darken;
  padding-top: 80px;
  text-decoration: none;
  color: rgb(27, 27, 27);
}

#Prework:hover {
  cursor: pointer;
  background-blend-mode: normal;
}

#refactoring {
  grid-area: refactoring;
  background: rgba(80, 72, 28, 0.5);
  background-image: url("../images/horiseon.png");
  background-size: cover;
  border: 5px solid #f6e0a4;
  border-radius: 15px;
  background-blend-mode: darken;
  padding-top: 80px;
  text-decoration: none;
  color: rgb(27, 27, 27);
}



#refactoring:hover {
  cursor: pointer;
  background-blend-mode: normal;
}

#pf-website {
  grid-area: pf-website;
  background: rgba(80, 72, 28, 0.5);
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 200px;
  border: 5px solid #f6e0a4;
  border-radius: 15px;
  background-blend-mode: darken;
   padding-top: 80px;
  text-decoration: none;
  color: rgb(27, 27, 27);
}


#pf-website:hover {
  cursor: pointer;
  background-blend-mode: normal;
}

#LED {
  grid-area: LED;
  background: rgba(80, 72, 28, 0.5);
  background-image: url("../images/huddle.png");
  background-size: cover;
  border: 5px solid #f6e0a4;
  border-radius: 15px;
  background-blend-mode: darken;
  padding-top: 80px;
  text-decoration: none;
  color: rgb(27, 27, 27);
  }

  #LED:hover{
    background-blend-mode: normal;
    cursor: pointer;
  }

#contact-details {
  grid-area: contact-details;
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
 }

 .phone, .email, .github {
  border-bottom: 10px solid #f6e0a4;
  padding-bottom: 10px;
 }
  
#contact-details ul, li, a {
  font-size: larger;
  text-decoration: none;
  color: #503911; 
}
  
h3 {
  background-color: #f6e0a4;
  width: fit-content;
  padding: 10px;
  font-size: large;
  color: rgb(27, 27, 27);
  
}

  h3 a {
    text-decoration: none;
  }

  @media screen and (max-width: 480px) {
     .main-header, .logo h1 {
      font-size: xx-small;
    }
    
    .navbar, .main-header{
      width: 100%;
      height: 30px;
    }

    .phone, .email, .github {
      border-bottom: 3px solid #f6e0a4;
      padding-bottom: 10px;
      font-size: xx-small;
      overflow: hidden;
     }

     #contact-details {
      display: inline;

     }

    .logo {
      height: 20px;
      font-size: 15px;
      padding-left: 10px;
      padding: 0px 10px;
    }

    .hero-banner {
    background-size:cover;
    width: 100%;
    height: 100px;
    }

    .nav-list a {
      margin: 10px;
      font-size: xx-small;
    }

    .navbar{
      justify-content: flex-end;
    }


    #aboutMeText {
      margin: auto;
      font-size: 12px;
      line-height: 1.3;
      padding-top: 14px;
      text-align: center;
      font-weight: 400 !important;
    }
    
    #about, #work, #contact, #resume {
      margin: 6px;
      font-size: xx-small;
      border-right: 3px solid #503911;
      padding-right: 8px;
    }

    h3{
      font-size: xx-small;
    }
  }